
<div class="m-role-tree" r-class={{"m-multitreeview": multiple}}>
	{#if multiple}
		<checkboxLeaf list={list} isReadOnly={isReadOnly} ref="root" isShow={isShow}
			on-loadChildren={this.__loadChildren($event)}
			on-selectItem={this.__selectItem($event)} on-changeCheckVal={this.__check($event)}></checkboxLeaf>
	{#else}
		<leaf list={list} isReadOnly={isReadOnly} ref="root" isShow={isShow}
			on-loadChildren={this.__loadChildren($event)}
			on-selectItem={this.__selectItem($event)}></leaf>
	{/if}
</div>